* {
  box-sizing: border-box;
}

body {
  background-color: rgb(76, 85, 94);
}

section {
  background-color: white;
  padding: 2% 2%;
  margin: auto 20%;
}

img {
  max-height: 50%;
  max-width: 50%;
}

p, a {
  font-family: 'Ubuntu', sans-serif;
}

input {
  width: 50%;
}

button {
  background-color: cornflowerblue;
  color: white;
  border: 1px solid white;
  border-radius: 18px;
}

button:hover {
  background-color: goldenrod;
  cursor: pointer;
  box-shadow: black 1px  1px 1px;
}

#insert-results {
  display: flex;
  flex-direction: row;
}

#warning-1 {
  color: red;
}

.hidden {
    display: none;
}

.container {
  max-height: 50%;
  max-width: 50%;
}

/* .row {
  border: 1px black solid;
} */

.col-xs {
  border: 1px black solid;
}